debug
target
.cargo

build
builddir
_build
_builddir
meson-logs
meson-private

src/config.rs

.flatpak-builder
.flatpak
repo
*.flatpak
*.flatpakref
*.flatpakrepo

**/*.rs.bk

*.pdb

**/mutants.out*/

